.modal-content{
    border: 0;
    @include border-radius($border-radius-lg);
    @include box-shadow($modal-content-box-shadow-xs);
}

.modal-header{
    padding: $modal-inner-padding $modal-header-padding;
    border-bottom: $modal-header-border-width solid $modal-header-border-color;
}

.modal-title{
    font-weight: 700;
}

.modal-body{
    color: lighten($gray-900, 30%);
    padding: $modal-inner-padding $modal-body-padding;
}

.modal-footer{
    background-color: $modal-footer-bg;
    border-top: $modal-footer-border-width solid $modal-footer-border-color;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the modal

@each $color, $value in $theme-colors {
    .modal-#{$color} {
        .modal-content{
            border-top: 5px solid theme-color-level($color, $modal-border-level);
        }
    }
}